@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151515;
  font-family: "Urbanist", sans-serif;
  color: #fff;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

* {
  font-family: "Urbanist", sans-serif;
  color: #fff !important;
  margin: 0px;
}

h3{
   margin-block-start: 0px;
  margin-block-end: 0px;
}

html,
body {
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  /* -webkit-text-fill-color: inherit !important; */
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s; /* prevent flicker */
}

/* Chrome, Edge, Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #151515 inset !important; /* match your input bg */
  -webkit-text-fill-color: white !important; /* text color */
  transition: background-color 5000s ease-in-out 0s;
}

/* Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #151515 inset !important;
  -moz-text-fill-color: white !important;
}



.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
